@media screen and (max-width: 767px) {
    body {
        max-width: 767px;
        height: 100dvh;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        max-width: 480px;
        min-width: 320px;
        height: 100dvh;
    }

}



