@media screen and (max-width: 767px) {
    body {
        max-width: 767px;
        margin: 0 0 -200px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        max-width: 480px;
        min-width: 320px;
        margin: 0 0 -200px 0;
    }

}
